<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.imtl.bluekare"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <package android:name="com.sec.android.app.shealth" />
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.samsung.android.health.permission.read"
            android:value="com.samsung.health.user_profile;com.samsung.health.step_count;com.samsung.health.blood_pressure;com.samsung.health.exercise;com.samsung.health.heart_rate;com.samsung.health.oxygen_saturation;com.samsung.health.sleep;com.samsung.health.sleep_stage;com.samsung.shealth.step_daily_trend" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <service
            android:name="edu.imtl.bluekare.Background.BackgroundService"
            android:enabled="true" />
        <receiver android:name="edu.imtl.bluekare.Background.BootCompletedIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity
            android:name="edu.imtl.bluekare.Fragments.Login.LoginActivity"
            android:noHistory="true" />

        <activity
            android:name="edu.imtl.bluekare.Main.MainActivity"
            android:screenOrientation="fullSensor" />

        <activity android:name="edu.imtl.bluekare.Fragments.Register.DatePickerActivity"
            android:theme="@style/PopupTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Fragments.Register.RegisterActivity" />

        <activity android:name="edu.imtl.bluekare.Fragments.Login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider
            android:authorities="edu.imtl.bluekare.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/root_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>